<a href="event/{{model.id}}">
    <div class="well hoverwell">
        <div class="row">
            <h2 class="span6">{{model.name}}</h2>
        </div>

        <div class="row">
            <span class="span1">Date:</span>
            <span>{{model.date}}</span>
        </div>

        <div class="row">
            <span class="span1">Time:</span>
            <span>{{model.time}}</span>
        </div>

        <div class="row">
            <span class="span1">Location:</span>
            <span>{{model.location.address}}</span>
        </div>

        <div class="row">
            <span class="span1">&nbsp;</span>
            <span>{{model.location.city}}, {{model.location.province}}</span>
        </div>

    </div>
</a>