<div class="span0 well votingWidget">

    <div class="votingButton" ng-click="upvote()">
        <i class="icon-chevron-up icon-white"></i>
    </div>

    <div class="badge badge-inverse">
        <div ng-cloak>{{count}}</div>
    </div>

    <div class="votingButton" ng-click="downvote()">
        <i class="icon-chevron-down"></i>
    </div>

</div>