<!DOCTYPE html>
<html ng-app="eventsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Local Example</title>
    <base href="/">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

    <div class="container">

        <div>
            <div class="navbar-inner" ng-controller="MainMenuController">
                <ul class="nav">
                    <li><a href="event/1">Main Event</a></li>
                    <li><a href="#" ng-click="navigate('newEvent')" >Create Event</a></li>
                    <li><a href="#" ng-click="navigate('editProfile')">Edit Profile</a></li>
                    <li><a href="#" ng-click="navigate('eventList')">Event List</a></li>
                    <li><a href="#" ng-click="navigate('routeTemplate')">Route Template</a></li>
                    <li><a href="#" ng-click="navigate('cacheExample')">Cache</a></li>
                    <li><a href="#" ng-click="navigate('compileExample')">Compile</a></li>
                    <li><a href="#" ng-click="navigate('cookieStoreExample')">Cookie Store</a></li>
                    <li><a href="#" ng-click="navigate('filterExample')">Filter</a></li>
                    <li><a href="#" ng-click="navigate('localeExample')">Locale</a></li>
                    <li><a href="#" ng-click="navigate('timeoutExample')">Timeout Service</a></li>
                    <li><a href="#" ng-click="navigate('directiveExamples')">Directive Examples</a></li>
                </ul>
            </div>
        </div>
        <div style="padding: 20px;">
            <greetings french finnish ></greetings>
            <br/>
            Repeating Text = <input ng-model="text" />
            <div ng-cloak repeat-x="5" text="{{text}}">{{text}}</div>
            <ng-view></ng-view>
        </div>

    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/i18n/angular-locale_fr-ca.js"></script>
    <script src="js/app.js"></script>

    <script src="js/directives/compiledDirective.js"></script>
    <script src="js/directives/simpleDirective.js"></script>
    <script src="js/directives/eventModule.js"></script>
    <script src="js/directives/upVote.js"></script>
    <script src="js/directives/dateKeys.js"></script>
    <script src="js/directives/gravatar.js"></script>
    <script src="js/directives/greetings.js"></script>
    <script src="js/directives/collapsible.js"></script>
    <script src="js/directives/repeatX.js"></script>

    <script src="js/controllers/EventController.js"></script>
    <script src="js/controllers/MainMenuController.js"></script>
    <script src="js/controllers/EditEventController.js"></script>
    <script src="js/controllers/EditProfileController.js"></script>
    <script src="js/controllers/CacheController.js"></script>
    <script src="js/controllers/CompileServiceController.js"></script>
    <script src="js/controllers/CookieStoreController.js"></script>
    <script src="js/controllers/EventListController.js"></script>
    <script src="js/controllers/FilterController.js"></script>
    <script src="js/controllers/LocalController.js"></script>
    <script src="js/controllers/TimeoutServiceController.js"></script>

    <script src="js/services/EventData.js"></script>
    <script src="js/services/Utils.js"></script>
    <script src="js/services/UserData.js"></script>

    <script src="js/filters.js"></script>
</body>
</html>