<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="app" ng-cloak>

    <div ng-controller="BooksController as books">
        <h1>Hello {{books.appName}}!</h1>
        <p>{{books.appDescription}}</p>


        <div>
            <h2>All Books</h2>
            <ul>
                <li ng-repeat="book in books.allBooks">{{book.title}} - {{book.author}}</li>
            </ul>
        </div>

        <div>
            <h2>All Readers</h2>
            <ul>
                <li ng-repeat="reader in books.allReaders">{{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}} </li>
            </ul>
        </div>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/BooksController.js"></script>
    <script src="js/services/appConstants.js"></script>
    <script src="js/services/badgeService.js"></script>
    <script src="js/services/booksProvider.js"></script>
    <script src="js/services/dataService.js"></script>
    <script src="js/services/loggerService.js"></script>
</body>

</html>