<label for="eventKey">Key:</label>
<input type="text" id="eventKey" ng-model="key" /><br />

<label for="eventValue">Value:</label>
<input type="text" id="eventValue" ng-model="value"/><br />

<button type="button" class="btn" ng-click="addToCache(key, value)">Add To Cache</button>

<br/>
<br/>

<label for="keyToRead">Key To Read:</label>
<input type="text" id="keyToRead" ng-model="cacheKey" /><br/>

<h3>Value From Cache: {{readFromCache(cacheKey)}}</h3>
<h3>Cache Stats: {{getCacheStats()}}</h3>

