<div id="appendHere"></div>
<br/>

<button type="button" ng-click="reload()" class="btn-primary">Reload Page</button>

<label for="name">Name:</label>
<input type="text" id="name" ng-model="name" />

<label for="mark">Markup:</label>
<input type="text" id="mark" ng-model="markup"/><br/>

<!--https://docs.angularjs.org/error/$parse/isecdom-->
<button type="button" class="btn" ng-click="appendToDivElement(markup)">Append</button>