<button type="button" class="btn" ng-click="saveEventToCookie(thisEvent)">Save Cookie</button>
<button type="button" class="btn" ng-click="getEventFromCookie()">Get Cookie</button>
<button type="button" class="btn" ng-click="removeFromCookie()">Remove Cookie</button>