<h2>Attribute Based with scope</h2>

<div simple-directive></div>
<div simple-directive></div>
<div simple-directive></div>

<h2>Element Based without scope</h2>

<compiled-directive></compiled-directive>
<compiled-directive></compiled-directive>
<compiled-directive></compiled-directive>
