<div>
    FILTERS: Number = {{3 | number:2}},
    Currency = {{34 | currency}},
    JSON = {{ {a:3, b:'hello', c:{aa:35} } | json }}
</div>

<img ng-cloak
     ng-src="{{event.imageUrl}}"
     alt="{{event.name}}"/>

<button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>

<div class="row">
    <div class="span11">
        <h2 ng-style="emphasize"
            ng-bind-template="{{event.name | uppercase}},
                              {{event.date | date:'mediumDate' | uppercase}}"></h2>
    </div>
</div>

<div ng-bind-html="snippet">some title</div>

<input ng-model="message"/>
<button class="btn"
        ng-disabled="buttonDisabled"
        ng-click="onButtonClick()">Disabled
</button>

<div class="row">

    <div class="span3">
        <div ng-cloak>
            <strong>Date:</strong> {{event.date | date:'mediumDate'}}
        </div>
        <div ng-cloak>
            <strong>Time:</strong> {{event.time}}
        </div>
    </div>

    <div class="span4">
        <address ng-cloak>
            <strong>Address:</strong><br/>
            {{event.location.address}}<br/>
            {{event.location.city}}, {{event.location.province}}
        </address>
    </div>

</div>

<hr/>

<h3>Sessions</h3>
Order By:
<select ng-model="sortOrder" class="input-small">
    <option selected value="name">Name</option>
    <option value="-upVoteCount">Votes</option>
</select>

Show:
<select ng-model="query.level" class="input-medium">
    <option value="">All</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
</select>

<ul class="thumbnails">

    <li ng-repeat="session in event.sessions
                  | orderBy:sortOrder
                  | filter:query">
                  <!--| limitTo:3">-->

        <div class="row session" ng-show="session.isActive" id="session{{session.id}}">

            <up-vote upvote="upVoteSession(session)"
                     downvote="downVoteSession(session)"
                     count="session.upVoteCount"></up-vote>

            <div class="well span9">


                <collapsible title="{{session.name}}">

                    <h6 ng-cloak
                        style="margin-top:-10px">
                        {{session.instructor}}
                    </h6>

                    <span ng-cloak>
                      Duration: {{session.duration | durations}}
                    </span><br/>

                    <span ng-cloak>
                      Level: {{session.level}}
                    </span>

                    <p ng-cloak>
                        {{session.abstract}}
                    </p>

                </collapsible>

            </div>

        </div>

    </li>

</ul>
