<h1>New Event</h1>
<hr/>
<style>
    input.ng-invalid.ng-dirty {
        background: pink;
    }
</style>
<form name="newEventForm">
    <fieldset>

        <label for="eventName">Event Name:</label>
        <input id="eventName"
               type="text"
               required
               ng-model="event.name"
               placeholder="Name of your event..."/>

        <label for="eventDate">Event Date:</label>
        <input id="eventDate"
               type="text"
               required
               ng-pattern="/\d\d/\d\d/\d\d\d\d/"
               ng-model="event.date"
               placeholder="format (mm/dd/yyyy)"
               date-keys />

        <label for="eventTime">Event Time:</label>
        <input id="eventTime"
               type="text"
               required
               ng-model="event.time"
               placeholder="start and end time..."/>

        <label for="eventLocation">Event Location:</label>
        <input id="eventLocation"
               type="text"
               required
               ng-model="event.location.address"
               placeholder="Address of event..."/>

        <br/>

        <input id="eventCity"
               type="text"
               required
               ng-model="event.location.city"
               class="input-small"
               placeholder="City..."/>

        <input id="eventProvince"
               type="text"
               required
               ng-model="event.location.province"
               class="input-small"
               placeholder="Province..."/>

        <label for="eventImageUrl">Image:</label>
        <input id="eventImageUrl"
               type="url"
               required
               ng-model="event.imageUrl"
               class="input-xlarge"
               placeholder="Url of image..."/>

        <ul>
            <li>{{event.name}}</li>
            <li>{{event.date}}</li>
            <li>{{event.time}}</li>
            <li>{{event.location | json}}</li>
        </ul>

        <img ng-src="{{event.imageUrl}}" src=""/>

        <br/>
        <br/>

        <button type="submit"
                ng-disabled="newEventForm.$invalid"
                ng-click="saveEvent(event, newEventForm)"
                class="btn btn-primary">Save
        </button>

        <button type="button"
                ng-click="cancelEdit()"
                class="btn btn-default">Cancel
        </button>

    </fieldset>
</form>